.full-page{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 90%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

.upperhalf{
    background-color: #cfff04;
}

.extra-pad{
    margin-bottom: 20vh;
}

.left-side{
    width: 50%;
    padding-top: 25vh;
}

.right-side{
    width: 50%;
}

.right-side img{
    padding-top: 20vh;
    width: 900px;
    height: 700px;
}

.red-section{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    /* #e74c3c */
    min-height: 100vh;
}

/* .go-back-btn{
    width: 90%;
    margin-left: 10em;
} */

.btn-container{
    display: flex;
    flex-direction: row;
    margin:auto;
    width: 90%;
    height: 100%;
    align-items:center;
    padding: 20px 50px;
}

.go-back-btn{
    text-decoration: none;
    /* padding: 20px 50px; */
    font-size: 1.25em;
    position: relative;
}

.inside-button{
    padding: 4vh;
}

.btn-2{
    color: white;
    
}

.btn-2::before,
.btn-2::after{
    border: 2px solid white;
    content: "";
    position: absolute;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 0;
    right: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.btn-2:hover::after{
    transform: translate(-1.5px, -1.5px)
}

.btn-2:hover::before{
    transform: translate(1.5px, 1.5px)
}

h2{
    font-size: 48px;
    color: white;
    margin: auto;
    width: 90%;
}

.paragraphs{
    opacity: 0.9;
    font-size: 2rem;
}

.bio-header{
    font-size: 3.5rem;
    padding-top: -5vh;
    color: black ;
}

.resume-keyword{
    text-decoration: none;
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: rgba(255, 255, 255, 0.4);
    color: white;
    height: 0.1rem;
}

.btn-c{
    position: relative;
}
  
.btn-c::after{
    content: "";
    position: absolute;
    width: 100%;
    margin-top: 30px;
    height: 0.1rem;
    left: 0;
    right: 0;
    bottom: 0;
    background: #cfff04;
    opacity: 0.75;
}
  
.btn-center::after{
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}
  
.btn-center:hover::after{
    transform: scale(1,1);
}
