#particles-js {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -100;
    background-size: cover;
  }
  .info-container{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
  }
  /* .container{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 10px;
  } */
  
  .name{
    position: relative;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: white;
    font-size: 10rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-shadow: 
      0.05em 0 0 rgba(255, 0, 0 , 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  
    animation: glitch 500ms infinite;
  }
  
  .name span {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .name span:first-child{
    animation: glitch 650ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-0.025em, -0.0125em);
    opacity: 0.8;
  }
  .name span:last-child{
    animation: glitch 375ms infinite;
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
    transform: translate(0.0125em, 0.025em);
    opacity: 0.8;
  }
  
  .major-info{
    /* position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: white;
    font-weight: 200;
    font-size: 1.75rem;
    border: 1px solid red;
    height: 500px;
    width: 500px; */
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid red; */
    font-size: 1.75rem;
    font-weight: 200;
    margin-top:0;
    padding: 0;
    align-items: center;
    align-content: flex-start;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* .inside-parent-div-writer {
    display: flex;
    flex-basis: content;
  } */
  
  .cs-std{
    margin-left: 0px;
    margin-top: 50px;
  }
  
  .university a{
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: rgba(255, 255, 255, 0.4);
    height: 0.1rem;
    color: white;
  }
  
  .btn{
    position: relative;
  }
  
  .btn::after{
    content: "";
    position: absolute;
    width: 100%;
    margin-top: 30px;
    height: 0.1rem;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ea0e4b ;
    opacity: 0.75;
  }
  
  .btn-center::after{
    transform: scale(0, 1);
    transition: transform 0.3s ease;
  }
  
  .btn-center:hover::after{
    transform: scale(1,1);
  }
  
  .neonText {
    color: #fff;
  }
  
                                              /* .pulsate {
                                                animation: pulsate 1.5s infinite alternate;     
                                              }
  
                                              @keyframes pulsate {
                                                  
                                                100% {
  
                                                    text-shadow:
                                                    0 0 4px #C09389,
                                                    0 0 11px #C09389,
                                                    0 0 19px #C09389,
                                                    0 0 40px #BDABA7,
                                                    0 0 80px #BDABA7,
                                                    0 0 90px #BDABA7
                                                }
                                                
                                                0% {
  
                                                  text-shadow:
                                                  0 0 2px #C09389,
                                                  0 0 4px #C09389,
                                                  0 0 6px #C09389,
                                                  0 0 10px #BDABA7,
                                                  0 0 45px #BDABA7,
                                                  0 0 55px #BDABA7,
                                                  0 0 70px #BDABA7,
                                                  0 0 80px #BDABA7;
                                                }
                                              } */
  
  @keyframes glitch{
    0% {
      text-shadow: 
      0.05em 0 0 rgba(255, 0, 0 , 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    14% {
      text-shadow: 
      0.05em 0 0 rgba(255, 0, 0 , 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    15% {
      text-shadow: 
      -0.05em -0.025em 0 rgba(255, 0, 0 , 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    49% {
      text-shadow: 
      -0.05em -0.025em 0 rgba(255, 0, 0 , 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    50% {
      text-shadow: 
      0.025em 0.025 0 rgba(255, 0, 0 , 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75),
      0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    99% {
      text-shadow: 
      0.025em 0.025 0 rgba(255, 0, 0 , 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75),
      0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    100% {
      text-shadow: 
      -0.025em 0 0 rgba(255, 0, 0 , 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    *, ::before, ::after {
      animation-delay: -1ms !important;
      animation-duration: 1ms !important;
      animation-iteration-count: 1 !important;
      background-attachment: initial !important;
      scroll-behavior: auto !important;
      transition-duration: 0s !important;
      transition-delay: 0s !important;
    }
  }