/* .typewriter{
    position: absolute;
    top: 55%;
    left: 40.65%;
    color: white;
    font-weight: 200;
    margin-top: 3px
    
    display: flex;
    position: relative;
    justify-content: center;
    border: 1px solid blue;
    margin-top: 33%; 
  } */